
body,div, class, label, ul, li{float:left;margin:0; padding:0;border:none;}
h1,h2,h3,h4,h5, p{float:left;margin:0;padding:0;border:none;}
canvas{outline: none;}
a{text-decoration:none;float: left;margin:0;padding:0;}
input:focus {outline:none;}
input{border:none;}
*{margin:0;padding:0;}

body{
font-size:62.5%; 
width:100%;
height:100%;
font-family: Helvetica,Verdana, Arial,sans-serif;
background: #000;
line-height:15px;
overflow:inherit;
}

#cont{width:1000px;height:600px;background:url(../imagenes/imagenes1.png);position: absolute;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

#titulo{width:1000px;height:30px;color: #FFF;margin:20px 0px 20px 0px;}
#titulo h1{width:500px;font-size: 3em;font-weight:600;margin:0px 500px 0px 0px;line-height:30px;text-align:center;}
#titulo p{width:990px;height:15px;font-size:1em;font-weight:100;line-height:15px; margin:0px 0px 0px 20px;position:relative;top:525px;left:-0px;}


#text{width:960px;height:500px;padding:15px;}
#text ul{width:150px;height:160px;list-style:none;margin:145px 450px 145px 450px;}
#text ul li{width:150px;height:30px;margin:0px 0px 2px 0px;}
#text li a{width:150px;height:30px;color:#FFF;background:#000;font-size:1.8em;line-height:30px;font-weight: 600; text-align:center;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#text li a:hover{color:#000;background:#FFF;}