
body,div, class, label, ul, li{float:left;margin:0; padding:0;border:none;}
h1,h2,h3,h4,h5, p{float:left;margin:0;padding:0;border:none;}
canvas{outline: none;}
a{text-decoration:none;float: left;margin:0;padding:0;}
input:focus {outline:none;}
input{border:none;}
*{margin:0;padding:0;}

body{
font-size:62.5%; 
width:100%;
height:100%;
font-family: Helvetica,Verdana, Arial,sans-serif;
background: #000;
line-height:15px;
overflow:inherit;
}

#cont{width:1000px;height:600px;background:url(../../../imagenes/imagenes2.png);position: absolute;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

#titulo{width:1000px;height:30px;color: #FFF;margin:20px 0px 20px 0px;}
#titulo h1{font-size: 3em;font-weight: 600;margin: 0px 10px 0px 20px;line-height:30px;}
#titulo h2{font-size: 2em;font-weight: 100;line-height:35px;color:#5858FA;}
#titulo p{width:790px;height:15px;font-size:1em;font-weight:100;line-height:15px; margin:0px 0px 0px 20px;position:relative;top:525px;left:-0px;}


#img1{width:350px;height:500px;background:url(../imagenes/carnaval1.jpg); margin:0px 0px 0px 20px;}
#img2{width:350px;height:380px;background:url(../imagenes/simbolo1.jpg); margin:0px 0px 120px 20px;}
#img3{width:350px;height:450px;background:url(../imagenes/color1.jpg); margin:0px 0px 50px 20px;}
#img4{width:350px;height:500px;background:url(../imagenes/cuerpo1.jpg); margin:0px 0px 0px 20px;}

.anali_to{width:1000px;height:570px;background:url(../imagenes/fondo1.png);display:none;}

.texto{width:600px;height:500px;padding:15px;}
.texto h3{ letter-spacing:0.08em;color:#FFF;font-size:1.3em;font-weight:100;line-height:1.3em;}
.texto p{color:#F7FE2E;font-size:1em;margin:5px 0px 15px 0px;}

#anali_1{display:block;}


#bots_to{width:20px;height:20px;position: absolute;top:0;left:0;}
#bots_to ul{width:20px;height:20px;list-style:none;position:relative;top:0;left:0;}
#bots_to ul li{width:20px;height:20px;cursor:pointer;line-height:20px;text-align: center;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
#bots1{position:absolute;top:575px;left:840px;background:#FFF;color:#F00;}
#bots2{position:absolute;top:575px;left:880px;background:#333;color:#FFF;}
#bots3{position:absolute;top:575px;left:920px;background:#333;color:#FFF;}
#bots4{position:absolute;top:575px;left:960px;background:#333;color:#FFF;}

.coll{color:#F00;}

